
.icon-search:before { content: '\e800'; } /* '' */
.icon-down:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-left:before { content: '\e805'; } /* '' */
.icon-right:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f057'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */