.nav-wrapper {
    margin-top: 92px;
    
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-nav {
    list-style: none;
    margin: 0; padding: 0;
    margin-right: 23px;
    li {
        float: left;
        padding-left: 75px;
        width: 50px;

        &:last-child {
            padding-left: 50px;
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: #aaa;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.3px;


        &.active,
        &:hover, &:focus {
            color: #000;
            transition: all 0.1s ease;
            font-weight: bold;
            letter-spacing: 0.3px;
        }

    }
}
