.subscription {
    text-align: center;

    margin-top: 70px;
    margin-bottom: 145px;
}

.subscription-title {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;

    margin: 0;
}

.subscription-btn {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;

    border: 1px solid #444;
    padding: 20px 45px;
    background: #fff;

    cursor: pointer;

    margin-top: 89px;

    transition: all 0.1s ease;

    &:hover {
        background-color: #000;
        border: 1px solid #000;
        color: #fff;
        transition: all 0.1s ease;
    }
}